version: '3'

volumes:
  allure-docker-service:
    driver: local

services:
  allure-docker-service:
    build:
      context: ../allure-docker-service
      dockerfile: docker-custom/Dockerfile.bionic-custom
      args:
        ALLURE_RELEASE: "2.13.6"
    image: allure-docker-service:prod_ver
    environment:
      DEV_MODE: 0
      CHECK_RESULTS_EVERY_SECONDS: NONE
      KEEP_HISTORY: 1
      KEEP_HISTORY_LATEST: 999999
      SECURITY_USER: "my_username"
      SECURITY_PASS: "my_password"
      SECURITY_ENABLED: 0
      PORT: 5053
      API_RESPONSE_LESS_VERBOSE: 1
    ports:
      - "5053:5053"
    volumes:
      - /c/Categories/work/elateral/_temp/projects:/app/projects
