version: 2.1
orbs:
  azure-acr: circleci/azure-acr@0.2.0

workflows:
  build-and-publish-docker-image:
    jobs:
      - azure-acr/build-and-push-image:
          login-server-name: bgmacr.azurecr.io
          registry-name: bgmacr
          repo: allure-docker-service
          tag: $(cat docker-custom/package.json | jq --raw-output .version)-${CIRCLE_BRANCH}
          context: org-global
          dockerfile: docker-custom/Dockerfile.bionic-custom
